body{
  margin: 0px;
}

.navbar_styling {
    background-color: aqua;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.logo {
    flex: 1;
}

h1 {
    background-color: yellow;
    padding: 10px;
    text-align: center;
    width: 250px;
}

nav.all_links {
    display: inline-flex;
}

ul.right_side {
    background-color: white;
    padding: 5px;
    -webkit-padding-start: 0px;
}

li {
    margin-right: auto;
    list-style-type: none;
    display: inline;
    -webkit-padding-start: 0px;
}

li.topNav a {
    display: inline-block;
    padding-left: 15px;
    font-family: sans-serif;
    color: burlywood;
    margin-right: 10px;
    text-decoration: none;
}

li.topNav a:hover {
    color: deeppink;
    transition: all 1.5s ease;
}

.cards {
	border-bottom: 5px solid #27eef7;
  background-color: yellow;
  padding: 2rem;
  display: block;
  width: 162px;
  height: auto;
  text-align: center;
  font-style: oblique;
  font-size: 1.5rem;
}

.listed {
	padding: 23px;
}

.column {
 width: 17rem;
 display: inline-flex
}

h3.color {
    font-family: sans-serif;
    color: lightcoral;
    -webkit-margin-after: 0rem;
}

h5.color {
	  font-family: sans-serif;
		color: grey;
		margin-top: .5rem;
}


